<div class="container-fluid">
    <div class="row">
    <section class="about section" id="about">
    
    <span class="section-subtitle">Mi presentación</span>

    <h2 class="section-title">Acerca de mí</h2>
<div class="row">
    <div class="col-sm-12">
        <i class="fa-solid fa-pen"></i>
    </div>
    <div class="col text-end">
        <i class="bi bi-pencil-square" style="font-size: 1.5rem; color: rgb(0, 0, 0);"></i>
    </div>
    <div class="about__container bd-grid">
        <div class="about__data">
            
            <p class="about__description">
                Me encuetro transitando el tiempo de mi juventud/adultez, desde los 20 años
                soy responsable de un un menor, lo que conlleva a tomar desiciones respecto 
                a las necesidades. Soy de las personas que si no saben algo te va a decir no lo se      
                pero se voy a buscar la manera para resolverlo.      
            </p>
            <!---
            <img src="img/about.png" alt="Luis Facundo Figueron" title="Luis Facundo Figueron"
                class="about__img">
                ---->
        </div>

        
            <div class="about__information">
                <h3 class="about__information-title">Información</h3>

                <div class="about__information-data">
                    <i class='bx bxs-user about__information-icon'></i>
                    <span>Luis Facundo Figueron</span>
                </div>

                <div class="about__information-data">
                    <i class='bx bxs-phone about__information-icon'></i>
                    <span>1162298840 (Móvil)</span>
                </div>

                <div class="about__information-data">
                    <i class='bx bxs-envelope about__information-icon'></i>
                    <span>luisf.figueron@bue.edu.ar</span>
                </div>
            </div>
        

        
    </div>
</div>
</section>
    </div>
</div>