<div class="container-fluid">
    <div class="row">
    <section class="about section" id="about">
    
    <span class="section-subtitle">Mi presentación</span>

    <h2 class="section-title">Acerca de mí</h2>
<div class="row">
    <div class="col-sm-12">
        <i class="fa-solid fa-pen"></i>
    </div>
    <div class="col text-end">
        <i class="bi bi-pencil-square" style="font-size: 1.5rem; color: rgb(0, 0, 0);"></i>
    </div>
    <div class="about__container bd-grid">
        <div class="about__data">
            
            <p class="about__description">
                
                class = "abuelo"
                   La Via Lactea, la maravillosa hélice que viaja a 965.000 kilómetros por hora
                   protected string atributos_a_definir(){
                      La Vía Láctea es la galaxia que alberga nuestro sistema planetario, el Sistema Solar,
                      por lo que el movimiento del sol se realiza orbitando esta galaxia.
                      Todos los cuerpos celestes del universo se mueven alrededor de otro cuerpo.
                   }
                   class=  "padre"{
                   El Sistema Solar, la maravillosa hélice que viaja a 828.000 kilómetros por hora.
                       
                   }
                      class= "hijo"{
                          La Tierra , el maravilloso cuerpo celeste que orbita su estrella que viaja a 108 000 kilómetros por hora.

                      }
                        class = "sangano"{
                            El Humano, habitante de una nave intergalactica, capaz, astuto. 
                            se encuentera en su estado primitivo, en comparacion a todos los seres que lo rodean,
                            pienza que el consumo de los recursos indiscriminadamente no conlleva consecuencias
                        }
                Program= save my mind in the chain, preserving a part of my essence the other part is in my body
                    
                
            </p>
            <!---
            <img src="img/about.png" alt="Luis Facundo Figueron" title="Luis Facundo Figueron"
                class="about__img">
                ---->
        </div>

        
            <div class="about__information">
                <h3 class="about__information-title">Información</h3>

                <div class="about__information-data">
                    <i class='bx bxs-user about__information-icon'></i>
                    <span>Luis Facundo Figueron</span>
                </div>

                <div class="about__information-data">
                    <i class='bx bxs-phone about__information-icon'></i>
                    <span>1162298840 (Móvil)</span>
                </div>

                <div class="about__information-data">
                    <i class='bx bxs-envelope about__information-icon'></i>
                    <span>luisf.figueron@bue.edu.ar</span>
                </div>
            </div>
        

        
    </div>
</div>
</section>
    </div>
</div>