
<section class="skills section" id="skills">
    <span class="section-subtitle">Por qué elegirme</span>
    <h2 class="section-title">Mi área de experiencia</h2>
    <div class="col text-end">
        <i class="bi bi-plus-square" style="font-size: 1.5rem;color: #000;"></i>
        <i class="bi bi-pencil-square" style="font-size: 1.5rem;color: #000;"></i>
    </div>

    <div class="skills__container bd-grid">
        <div class="skills__content">
            <h3 class="skills__subtitle">Frontend</h3>

            <div class="skills__data">
                <span class="skills__name">Html/css</span>
                <span class="skills__number">40%</span>
                <span class="skills__bar skills__html"></span>
            </div>

            <div class="skills__data">
                <span class="skills__name">Javascript</span>
                <span class="skills__number">40%</span>
                <span class="skills__bar skills__js"></span>
            </div>

            <div class="skills__data">
                <span class="skills__name">Angular</span>
                <span class="skills__number">50%</span>
                <span class="skills__bar skills__angular"></span>
            </div>
        </div>

        <div class="skills__content">
            <h3 class="skills__subtitle">Backend</h3>

            <div class="skills__data">
                <span class="skills__name">Java</span>
                <span class="skills__number">40%</span>
                <span class="skills__bar skills__java"></span>
            </div>

            <div class="skills__data">
                <span class="skills__name">My Sql</span>
                <span class="skills__number">40%</span>
                <span class="skills__bar skills__java"></span>
            </div>
        
           
        </div>
    </div>
</section>