<header class="l-header">
    <!------
    <nav class="nav bd-grid">
        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>

        <div>
            <a href="#" class="nav__logo">Luis Facundo Figueron</a>
        </div>

        <div class="nav__menu" id="nav-menu">
            <div class="nav__close" id="nav-close">
                <i class='bx bx-x'></i>
            </div>

            <ul class="nav__list">
                <li class="nav__item"> <a href="#home" class="nav__link active"> Inicio </a></li>
                <li class="nav__item"> <a href="#about" class="nav__link"> Sobre mí </a></li>
                <li class="nav__item"> <a href="#skills" class="nav__link"> Habilidades </a></li>
                <li class="nav__item"> <a href="#services" class="nav__link"> Servicios </a></li>
                
                <li class="nav__item"> <a href="#contact" class="nav__link"> Contacto </a></li>
            </ul>
        </div>
    </nav>
    ----->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
        
          <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar">
              <img src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1648503444/APLogo-20-20.png" 
              alt="argpprod" class="img-responsive" width="120px" height="120px">
          </a>
          <!----
          
          <a href="" class="navbar-brand has-logo></a>
----->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">Acerca de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#skills">Habilidades</a>
              </li><li class="nav-item">
                <a class="nav-link" href="#services">Servicios</a>
              </li><li class="nav-item">
                <a class="nav-link" href="#contact">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#works">Trabajos</a>
              </li>
            </ul>
            <form class="d-flex">
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3">
                    </div>
                  </div>
              <button class="btn btn-outline-success" type="submit">Log In</button>
            </form>
          </div>
        </div>
      </nav>
</header>