<section class="education section">
    <span class="section-subtitle">Aptitud</span>
    <h2 class="section-title">Mi Educación</h2>
    <div class="col text-end">
        <i class="bi bi-plus-square" style="font-size: 1.5rem;color: #000;"></i>
        <i class="bi bi-pencil-square" style="font-size: 1.5rem;color: #000;"></i>
    </div>
    <div class="education__container bd-grid">
        <div class="education__content">
            <div>
                <h3 class="education__year">2003 - 2007</h3>
                <span class="education__university">E.T. n° 1 "Otto Krause"</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>


            <div>
                <h3 class="education__race">Analista de Sistemas de Información</h3>
                <span class="education__specialty">Ciclo de Tecnicatura</span>
            </div>
        </div>

        <div class="education__content">
            <div>
                <h3 class="education__year">2007</h3>
                <span class="education__university">Instituto de Estadistica y Registro de la insdustria de la Construccion</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>

            <div>
                <h3 class="education__race">Instalacion de Redes de ADSL</h3>
                <span class="education__specialty">77hs de duracion</span>
            </div>
        </div>

    </div>
</section>