<footer class="footer section">
    <div class="footer__container bd-grid">
        <h1 class="footer__title">Luis Facundo Figueron</h1>
        <p class="footer-description">
            jr Full Stack Web Developer
        </p>

        <div class="footer__social">
            <a href="https://www.linkedin.com/in/noviembr3/" class="footer__link"><i class="bx bxl-linkedin"></i></a>
        </div>

        <p class="footer-copy">Todos los derechos reservados por Luis Facundo Figueron - 2022</p>
    </div>
</footer>