<section class="services section" id="services">
    <span class="section-subtitle">Lo que ofrezco</span>
    <h2 class="section-title">Mis Servicios</h2>
    <div class="col text-end">
        <i class="bi bi-plus-square" style="font-size: 1.5rem;color: #000;"></i>
        <i class="bi bi-pencil-square" style="font-size: 1.5rem;color: #000;"></i>
    </div>


    <div class="services__container bd-grid">
        <div class="services__content">
            <i class="bx bx-code service__icon"></i>
            <h3 class="services__title">Diseño Web</h3>
            <p class="services__description">El diseño web es una actividad que consiste en la planificación,
                diseño, implementación y mantenimiento de sitios web.</p>
        </div>

        <div class="services__content">
            <i class="bx bx-pen service__icon"></i>
            <h3 class="services__title">Diseño Gráfico</h3>
            <p class="services__description">El diseño gráfico es la profesión y disciplina académica cuya
                actividad consiste en proyectar comunicaciones visuales destinadas a transmitir mensajes
                específicos a grupos sociales con objetivos determinados.</p>
        </div>

        <div class="services__content">
            <i class="bx bx-brush service__icon"></i>
            <h3 class="services__title">UI/UX</h3>
            <p class="services__description">A pesar de que el UX (User Experience) y UI (User Interface) tienen
                nombres parecidos son completamente diferentes. Mientras que uno hace referencia a la
                experiencia y sensación del usuario, el otro está dirigido hacia un lado más racional de la
                navegación.</p>
        </div>

        <div class="services__content">
            <i class="bx bx-server service__icon"></i>
            <h3 class="services__title">Desarrollo del Backend</h3>
            <p class="services__description">El Backend es la parte del desarrollo web que se encarga de que
                toda la lógica de una página web funcione. Se trata del conjunto de acciones que pasan en una
                web pero que no vemos.</p>
        </div>

        <div class="services__content">
            <i class="bx bx-pencil service__icon"></i>
            <h3 class="services__title">Redacción de Contenidos</h3>
            <p class="services__description">La redacción de contenidos es el proceso de investigar, planear,
                escribir, editar y publicar contenido para la Web.</p>
        </div>

        <div class="services__content">
            <i class="bx bx-mobile service__icon"></i>
            <h3 class="services__title">Interfaz Móvil</h3>
            <p class="services__description">Una aplicación móvil de éxito tiene diversas cualidades que hacen
                que los usuarios la descarguen y la utilicen con frecuencia. Una de esas características que
                enamoran a los usuarios es la interfaz.</p>
        </div>
    </div>
</section>