


<body>
  <!------------------------ La Cabecera comienza aquí ----------------------->
  <app-menu></app-menu>
  <!------------------------ La Cabecera finaliza aquí ----------------------->
  
  <!------------------------ El Cuerpo comienza aquí ----------------------->
  <main class="l-main">
      <!------------------- Inicio ------------------->
      <app-encabezado></app-encabezado>

      <!-------------------------- Acerca de ---------------------------->
      <app-acerca-de></app-acerca-de>
      <!--------------------------------- Habilidades ------------------------------->
      <app-habilidades></app-habilidades>

      <!---------------------------- Educación ---------------------------->
      <app-educacion></app-educacion>

      <!------------------------------- Servicios ------------------------------>
      <app-servicios></app-servicios>
      <!---------------------------------- Proyectos ---------------------->
      <app-works></app-works>

      <!----------------------------------- Proyecto en mente ------------------------->
      <app-proyectos></app-proyectos>
      
      <!----------------------------------- Contacte con ------------------------------>
      <app-contacte-con></app-contacte-con>
  </main>
  <!------------------------ El Cuerpo finaliza aquí ----------------------->

  <!------------------------ El Pie de página comienza aquí ----------------------->
  <app-pie></app-pie>
  <!------------------------ El Pie de página finaliza aquí ----------------------->

  <!------------------------- Archivo de JavaScript ---------------------------->
  <script src="script.js"></script>
</body>
